{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Office areas that you can select</title>
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700|Playfair+Display:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<div class="container">
    <fieldset>
        <h1>Add new area</h1>
             <form method="post">
            {% csrf_token %}
             <p>{{ message }}</p>
             <label>Office room name: <input type="text" name="name"></label><br>
            <label>Classroom capacity: <input type="text" name="capacity"></label><br>
            <button type="submit" class="pure-button pure-button-primary">Send</button>
             </form>
            </fieldset>
            <a href="/main/">Main page</a>
</div>
</body>
</html>