{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <h1>Desk reservation system</h1>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body class="jj">

        <img src="{% static 'logo3.png' %}"><br />

        {% if user.is_authenticated %}
            <a href="{% url 'logout-user' %}">Log out</a>

        {% else %}
            <a href="{% url 'login-user' %}">Log in</a>

        {% endif %}
            <a>If case of any question please contact a system administrator - Justyna Oliwkowska.</a>

    </body>
</html>