{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DBS</title>
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700|Playfair+Display:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>


<body>
<div class="container">
        <fieldset>
    <h1>Registered Users</h1>
        <ul>
        {% for user in object_list %}
            <li>{{ user.username }} </li>
        {% endfor %}
        </ul>
    </fieldset>

    <a href="/main/">Main page</a>

</div>
</body>
</html>