{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Office areas that you can select</title>
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700|Playfair+Display:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">

</head>
<body>
<div class="container">
{% block content %}
    <h1>Type User ID to review details</h1> <br>
        <form method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Search!">
        </form>
        <ul>
        {% for user in users %}
        <li>Date: {{ user.date }} -- Office Area: {{user.area_id.name}} </li>
        {% empty %}
        {% endfor %}
        </ul>
    {% endblock %}

        <a href="/main/">Main page</a>

</div>
</body>
</html>